/*
Gravity Forms Bootstrap
*/

.gform_wrapper ul.gform_fields {
    margin-right: -5px!important;
    margin-left: -5px!important;
}
.gform_wrapper label {
    display: none;
}
.gform_wrapper .file label {
    display: block;
    cursor: pointer;
}
.ginput_container_fileupload input[type=file] {} .ginput_container_fileupload input[type=file]:hover,
.ginput_container_fileupload input[type=file]:focus {
    /* box-shadow: none!Important; */
}
.gform_wrapper .gform_fields>li {
    position: relative;
    padding-right: 5px!important;
    padding-left: 5px!important;
    margin-bottom: 20px!important;
}
.gform_wrapper ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.ginput_complex {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
}
.ginput_container_address label,
.ginput_container_date label {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}
.clear-multi .ginput_container {
    width: 33.33333%;
    float: left;
    padding: 0 5px;
}
.gfield_time_hour {
    position: relative;
}
.gfield_time_hour i {
    position: absolute;
    top: 10px;
    right: -2px;
    font-style: normal;
    font-weight: bold;
}
.clear-multi {
    margin: 0 -5px;
}
.ginput_complex.ginput_container_address span:last-of-type {
    margin-bottom: 0;
}
ul.gfield_radio,
ul.gfield_checkbox {
    clear: both;
}
ul.gfield_radio label,
ul.gfield_checkbox label {
    display: inline-block;
    cursor: pointer;
}
.gfield_error .validation_message {
}
.gfield_error .validation_message:before {
}
.gform_wrapper form {
    margin-bottom: 0
}

.gform_body {overflow: hidden;}

.gform_footer {
    text-align: center;
}
.gf_progressbar {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.gf_progressbar_percentage {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.gf_progressbar_percentage.percentbar_0 {
    color: black;
    min-width: 3.1%;
    background-color: transparent;
    box-shadow: none;
    margin-left: 5px;
}
.gform_wrapper .gfield_required {
    padding-left: 1px;
    color: #b94a48
}
.ginput_container input:not([type='file']),
.ginput_container select,
.ginput_container textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px!important;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc!important;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ginput_container_date img.ui-datepicker-trigger {
    position: absolute;
    bottom: 0;
    right: 5px;
    padding: 11px 11px 12px;
    background: red;
    cursor: pointer;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 0px 2px 2px 0px;
}
.wire .ginput_container input,
.wire .ginput_container select,
.wire .ginput_container textarea {
    background-color: transparent;
    color: white;
}
.ginput_container input:-moz-placeholder,
.ginput_container select:-moz-placeholder,
.ginput_container textarea:-moz-placeholder {
    color: #999
}
.ginput_container input::-moz-placeholder,
.ginput_container select::-moz-placeholder,
.ginput_container textarea::-moz-placeholder {
    color: #999
}
.ginput_container input:-ms-input-placeholder,
.ginput_container select:-ms-input-placeholder,
.ginput_container textarea:-ms-input-placeholder {
    color: #999
}
.ginput_container input::-webkit-input-placeholder,
.ginput_container select::-webkit-input-placeholder,
.ginput_container textarea::-webkit-input-placeholder {
    color: #999
}
.ginput_container input:focus,
.ginput_container select:focus,
.ginput_container textarea:focus {
    border-color: #66afe9!important;
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)!important; */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)!important; */
}
.ginput_container input[disabled],
.ginput_container select[disabled],
.ginput_container textarea[disabled],
.ginput_container input[readonly],
.ginput_container select[readonly],
.ginput_container textarea[readonly],
fieldset[disabled] .ginput_container input,
fieldset[disabled] .ginput_container select,
fieldset[disabled] .ginput_container textarea {
    cursor: not-allowed;
    background-color: #eee
}
textarea.ginput_container input,
textarea.ginput_container select,
textarea.ginput_container textarea {
    height: auto
}
.ginput_container textarea {
    height: auto
}
.gform_wrapper .button,
.gform_button {
    display: block;
    padding: 14px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #fff;
    width: 100%;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.gform_wrapper .button:focus,
.gform_button:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.gform_wrapper .button:hover,
.gform_button:hover,
.gform_button:focus {
    text-decoration: none
}
.gform_wrapper .button:active,
.gform_wrapper .button.active,
,
.gform_button:active,
.gform_button.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}
.gform_wrapper .button.disabled,
.gform_button.disabled,
.gform_button[disabled],
fieldset[disabled] .gform_button {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}
.gform_button:hover,
.gform_button:focus,
.gform_button:active,
.gform_button.active,
.open .dropdown-toggle.gform_button {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.gform_button:active,
.gform_button.active,
.open .dropdown-toggle.gform_button {
    background-image: none
}
.gform_button.disabled,
.gform_button[disabled],
fieldset[disabled] .gform_button,
.gform_button.disabled:hover,
.gform_button[disabled]:hover,
fieldset[disabled] .gform_button:hover,
.gform_button.disabled:focus,
.gform_button[disabled]:focus,
fieldset[disabled] .gform_button:focus,
.gform_button.disabled:active,
.gform_button[disabled]:active,
fieldset[disabled] .gform_button:active,
.gform_button.disabled.active,
.gform_button[disabled].active,
fieldset[disabled] .gform_button.active {
    background-color: #428bca;
    border-color: #357ebd
}
.gform_wrapper .gfield_error .gfield_label {
    color: #b94a48
}
.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error select,
.gform_wrapper .gfield_error textarea {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7
}
.gform_wrapper .gfield_error input:focus,
.gform_wrapper .gfield_error select:focus,
.gform_wrapper .gfield_error textarea:focus {
    border-color: #b94a48;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(185, 74, 72, 0.6)
}
.validation_error {
    padding: 15px;
    margin-bottom: 20px;
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid transparent;
    border-color: #eed3d7;
    border-radius: 4px
}
.validation_error h4 {
    margin-top: 0;
    color: inherit
}
.validation_error .alert-link {
    font-weight: bold
}
.validation_error>p,
.validation_error>ul {
    margin-bottom: 0
}
.validation_error>p+p {
    margin-top: 5px
}
.validation_error hr {
    border-top-color: #e6c1c7
}
.validation_error .alert-link {
    color: #953b39
}
#gforms_confirmation_message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}
#gforms_confirmation_message h4 {
    margin-top: 0;
    color: inherit
}
#gforms_confirmation_message .alert-link {
    font-weight: bold
}
#gforms_confirmation_message>p,
#gforms_confirmation_message>ul {
    margin-bottom: 0
}
#gforms_confirmation_message>p+p {
    margin-top: 5px
}
.gfield_label {
    margin-bottom: 5px;
    font-size: 14px;
}
.ginput_complex > span > label {
    font-size: 11px;
}
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
}
.gform_fields {
    overflow: hidden;
}
.showlabel label {
    display: none;
}
.wire::-webkit-input-placeholder {
    /* WebKit browsers */

    color: white!important;
}
.wire:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */

    color: white!important;
    opacity: 1;
}
.wire::-moz-placeholder {
    /* Mozilla Firefox 19+ */

    color: white!important;
    opacity: 1;
}
.wire:-ms-input-placeholder {
    /* Internet Explorer 10+ */

    color: white!important;
}
.ginput_complex span {
    display: block;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.ginput_complex span.ginput_right {
    width: 50%;
    float: left;
}
.ginput_complex span.ginput_left {
    width: 50%;
    float: left;
}
.clearboth {
    clear: both;
}
.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)
}
.ui-datepicker a {
    text-decoration: none
}
.ui-datepicker table {
    width: 100%;
    border-collapse: collapse
}
.ui-datepicker-header {
    background-color: #5988DA;
    color: #e0e0e0;
    font-weight: 700;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, .2);
    -moz-box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, .2);
    box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0 #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    min-height: 30px!important;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #666
}
.ui-datepicker-title {
    text-align: center
}
.ui-datepicker-title select {
    margin-top: 2.5%
}
.ui-datepicker-next,
.ui-datepicker-prev {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-image: url(/wp-content/themes/arenabase/includes/images/arrow.png);
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
}
.ui-datepicker-prev {
    float: left;
    background-position: center -30px
}
.ui-datepicker-next {
    float: right;
    background-position: center 0
}
.ui-datepicker thead {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f7f7f7 0, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #f7f7f7 0, #f1f1f1 100%);
    background: -o-linear-gradient(top, #f7f7f7 0, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0, #f1f1f1 100%);
    background: linear-gradient(to bottom, #f7f7f7 0, #f1f1f1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f1f1f1', GradientType=0);
    border-bottom: 1px solid #bbb
}
.ui-datepicker th {
    text-transform: uppercase;
    text-align: center;
    font-size: 6pt;
    padding: 5px 0;
    color: #666;
    text-shadow: 1px 0 0 #fff;
    filter: dropshadow(color=#fff, offx=1, offy=0)
}
.ui-datepicker tbody td {
    padding: 0;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb
}
.ui-datepicker tbody td:last-child {
    border-right: 0
}
.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb
}
.ui-datepicker tbody tr:last-child {
    border-bottom: 0
}
.ui-datepicker td a,
.ui-datepicker td span {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666;
    text-shadow: 1px 1px 0 #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1)
}
.ui-datepicker-calendar .ui-state-default {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWRlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ededed 0, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(100%, #dedede));
    background: -webkit-linear-gradient(top, #ededed 0, #dedede 100%);
    background: -o-linear-gradient(top, #ededed 0, #dedede 100%);
    background: -ms-linear-gradient(top, #ededed 0, #dedede 100%);
    background: linear-gradient(to bottom, #ededed 0, #dedede 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dedede', GradientType=0);
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(250, 250, 250, .5);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(250, 250, 250, .5);
    box-shadow: inset 1px 1px 0 0 rgba(250, 250, 250, .5)
}
.ui-datepicker-calendar .ui-state-hover {
    background: #f7f7f7
}
.ui-datepicker-calendar .ui-state-active {
    background: #FFF2AA;
    border: 1px solid #c19163;
    color: #666;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 #FFF;
    filter: dropshadow(color=#FFF, offx=0, offy=1);
    position: relative;
    margin: -1px
}
.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3
}
.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0
}
.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0
}
td.ui-datepicker-unselectable.ui-state-disabled {
    background-color: #d7d7d7
}
table.ui-datepicker-calendar {
    margin: 0!important
}
body div#ui-datepicker-div[style] {
    z-index: 9999!important
}
.ginput_container input[type=radio],
.ginput_container input[type=checkbox] {
    display: inline-block;
    width: auto;
    border: none;
    box-shadow: none;
    height: auto;
    margin: -1px 10px 2px 4px;
    padding: 5px;
    cursor: pointer;
}
.gform_wrapper .gfield_radio li,
.gform_wrapper .gfield_checkbox li {
    margin: 0;
}
.ginput_container .gfield_radio input[type=text],
.ginput_container .gfield_checkbox input[type=text] {
    width: auto;
    display: inline-block;
    padding: 4px 12px;
    height: auto;
    line-height: 1;
}
.gform_wrapper .show_label label {
    display: inline-block;
}
/*
END Gravity Forms Bootstrap
*/
